
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0fff4;
}

header {
  background-color: #1DAA66;
  color: white;
  padding: 20px;
  text-align: center;
}

nav a {
  margin: 0 10px;
  color: white;
  text-decoration: none;
  font-weight: bold;
}

section {
  padding: 20px;
}

h2 {
  color: #0E7A48;
}

.producto {
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px;
  background-color: white;
  text-align: center;
  border-radius: 8px;
  box-shadow: 2px 2px 8px rgba(0,0,0,0.1);
}

.producto img {
  width: 200px;
  border-radius: 6px;
  margin-bottom: 8px;
}

#contactos a {
  color: #1DAA66;
  text-decoration: none;
  font-weight: bold;
}

footer {
  background-color: #1DAA66;
  color: white;
  text-align: center;
  padding: 10px;
  margin-top: 20px;
}